{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": { "printWidth": 120 }
    },
    {
      "files": "*.md",
      "options": { "proseWrap": "preserve" }
    }
  ]
}
