<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs4 relative">
                <span class="color-green">用户账号</span>
                <input class="layui-input" value="{$vo.phone|default=''}" disabled>
            </label>
            <label class="layui-col-xs4 relative">
                <span class="color-green">用户余额</span>
                <input class="layui-input" value="{$vo.money|default=''}" disabled>
            </label>
            <label class="layui-col-xs4 relative">
                <span class="color-green">{$name}金额</span>
                <input name="money" class="layui-input" placeholder="请输入{$name}金额">
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <input type='hidden' value='{$vo.id}' name='id'>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>确认操作</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消操作吗？" data-close>取消操作</button>
    </div>
</form>

{block name='script'}
<script>
    window.form.render();
</script>
{/block}
