{include file="public/header" nav="充值记录"}
<link rel="stylesheet" type="text/css" href="__ROOT__/static/newstyle/css/payment.css">
        <style>
            .kfbtn {
                display: block;
                height: 3.25rem;
                box-sizing: border-box;
                line-height: 3.25rem;
                text-align: center;
                font-size-adjust: 1rem;
                color: #fff;
                background: linear-gradient(90deg, #5ED5A8 0%, rgba(94,213,168,0.17) 100%);
                border: 1px solid #436065;
                border-radius: 1rem;
                margin-top: 2rem;
            }
        </style>

    <body>
        <div class="app">
            <div class="header">
                <img onclick="javascript:history.back()" src="/static/newstyle/img/back.png" alt="">
                <span>支付方式</span>
                <span></span>
            </div>
      
   
        
        	{if condition="$bank"}
                    {volist name="bank" id="b"}
                
                    
                     <div class="f_withdraw" style="color:#fff;text-align:center">
                <span>{$b.bank} ****{:substr($b['account'], strlen($b['account']) - 4, 4)} </span>
                <span>{$b.name}</span>
                <i data-myid="60" class="awesome"></i>
            </div>
        
                    {/volist}
				    <a href="https://line.me/R/ti/p/@675uflwe" class="kfbtn">
                <span>修改请联系在线客服</span>
            </a>
                    
				{else}	
                       <a class="item" href="/index/user/add_card">
                <div>
                    <img src="/static/newstyle/img/list.png" alt="">
                    <span>绑定银行卡</span>
                </div>
                <img src="/static/newstyle/img/you.png" alt="">
            </a>
				 {/if}	
             </div>
    </body>
</html>
