<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <title>提现</title>
        <link rel="stylesheet" type="text/css" href="/static/newstyle/css/common.css">
        <link rel="stylesheet" type="text/css" href="/static/newstyle/css/tixian.css">
    </head>
    <body>
        <div class="app">
            <div class="header">
                <img onclick="javascript:history.back()" src="/static/newstyle/img/back.png" alt="">
                <span style="text-indent: 20px;">提现</span>
                <a href="/index/user/cash_record.html" class="jilv">记录</a>
            </div>
            <div class="mymoney">
                <div class="row">
                    <span>余额</span>
                    <span>{$user.money}</span>
                </div>
            </div>
            <div class="money">
                <input type="text" id="money" value="" placeholder="请输入金额">
            </div>
            <div class="sxf">
                手续费 : <span id="txsxf">0.00</span>
            </div>
            <div class="paylist">
                <span onclick="openlist()">类型</span>
                <span id="select" style="margin-right: 20px;" onclick="openlist()">选择提现方式</span>
                <img class="aimg" src="/static/newstyle/img/yjiantou.png" onclick="openlist()" alt="">
                <div class="selectlist">
                    	{if $bank}
                    <li data="1">{$bank.bank} ****{:substr($bank['account'], strlen($bank['account']) - 4, 4)}</li>
                    	{else}
							<p style="line-height:30px;color:#fff;margin-top:6px;">
							<input type="hidden" name="bank" id="bank" value="0">
							 <a href="/index/user/add_card" style="color:green">绑定银行卡</a>
							</p>
                        {/if}
                </div>
            </div>
            <div class="money">
                <input type="password" id="pwd" placeholder="请输入支付密码">
            </div>
            <div class="rbtn" id="sub_btn">提现</div>
            <div class="tips">
                <p>1.提现金额限制：20 - 50000000</p>
                <p>2.提现时间：00:01 - 23:59</p>
                <p>3.如忘记密码，请联系客服</p>
            </div>
        </div>
        <script src="/static/newstyle/js/jquery-1.9.1.min.js"></script>
        <script src="/static/newstyle/js/bignumber.min.js"></script>
        <script src="/static/newstyle/js/layer/layer.js"></script>
        <script>
            var bizhong = '';
            // 选择币种
            function openlist() {
                $('.selectlist').slideToggle(200)
            }
            $(function() {
                $('.selectlist li').click(function() {
                    openlist();
                    $('#select').text($(this).text());
                    bizhong = $(this).attr('data');
                })
                // 提交操作
                $("#sub_btn").on("click", function() {
                    var pwd = $("#pwd").val();
                    var money = $("#money").val();
                    if (money < 20) {
                        layer.msg("提现金额必须大于20");
                        return false;
                    }
                    if (money > 50000000) {
                        layer.msg("提现金额必须小于50000000");
                        return false;
                    }
                    if (bizhong == 0) {
                        layer.msg("选择提现方式");
                        return false;
                    }
                    if (pwd.length < 4) {
                        layer.msg("请输入支付密码");
                        return false;
                    }
                    var url = "/index/user/cash";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {
                            'money': money,
                            'pwd': pwd,
                            'bank': bizhong,
                            
                        },
                        dataType: "json",
                        success: function(result) {
                            if (result.code == 1) {
                                layer.msg(result.info, function() {
                                    window.location.href = "/index/user/cash_record";
                                });
                            } else {
                                layer.msg(result.info);

                            }
                        }
                    });
                })
                // 计算手续费
                $('#money').on('input', function() {
                    var money = parseFloat($(this).val());
                    // var reg_par = (money * 1/100).toFixed(2);
                    if (money > 0) {
                        $('#txsxf').text((money * 1 / 100).toFixed(2));
                    }
                });
            })
        </script>
    </body>
</html>
