<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <title>充值</title>
        <link rel="stylesheet" type="text/css" href="/static/newstyle/css/common.css">
        <link rel="stylesheet" type="text/css" href="/static/newstyle/css/recharge.css">
    </head>
    <body>
        <div class="app">
            <div class="header">
                <img onclick="javascript:history.back()" src="/static/newstyle/img/back.png" alt="">
                <span style="text-indent: 20px;">充值</span>
                <a href="/index/user/recharge_record.html" class="jilv">记录</a>
            </div>
            <div class="paylist">
                <span onclick="openlist()">请选择充值方式</span>
                <span id="select" onclick="openlist()">
                <!--<img src="/static/newstyle/img/usdt.png" alt="">-->
                BTC</span>
                <img class="aimg" src="/static/newstyle/img/yjiantou.png" onclick="openlist()" alt="">
                <div class="selectlist">
                    <li data="1">BTC/USDT</li>
                     <li data="2">ERC/USDT</li>
                      <li data="3">TRC/USDT</li>
                </div>
            </div>
            <div class="czbox">
                <div class="none" id="info1" style="display:none">
                    <div class="qrimg">
                        <img src="/btc.jpg" alt="">
                    </div>
                    
                    <div class="address">
                        <input type="text"  id="xxoo1" value="btc1111">
                        <div class="copy" onclick="docopy()">
                            <img src="/static/newstyle/img/copy.png" alt="">
                        </div>
                    </div>
                </div>
                                <div class="none" id="info2" style="display:none">
                    <div class="qrimg">
                        <img src="/btc.jpg" alt="">
                    </div>
                    
                    <div class="address">
                        <input type="text"  id="xxoo2" value="erc2222">
                        <div class="copy" onclick="docopy()">
                            <img src="/static/newstyle/img/copy.png" alt="">
                        </div>
                    </div>
                </div>
                
                                             <div class="none" id="info3" style="display:none">
                    <div class="qrimg">
                        <img src="/btc.jpg" alt="">
                    </div>
                    
                    <div class="address">
                        <input type="text"  id="xxoo3" value="trc3333">
                        <div class="copy" onclick="docopy()">
                            <img src="/static/newstyle/img/copy.png" alt="">
                        </div>
                    </div>
                </div>
                
                <input type="hidden" id="type" value="1"/>
                <div class="money">
                    <input type="text" placeholder="请填写转账金额，然后提交订单" name="money">
                </div>
                <div class="upload" onclick="javascript:getElementById('voucher').click()">
                    <img id="voucher_img" src="/static/newstyle/img/upload.png" alt="">
                    <span>上传凭证</span>
                    <input type="file" id="voucher" style="height:0;width:0;z-index: -1; position: absolute;"/>
                </div>
            </div>
            <div class="rbtn" onclick="dopost()">提交订单</div>
        </div>
        <script src="/static/newstyle/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/newstyle/js/layer/layer.js"></script>
        <script type="text/javascript" src="/static/newstyle/js/clipboard.min.js"></script>
        <script>
            var paytype = 1;
            var pic = "";
            var reason = "";
            function openlist() {
                $('.selectlist').slideToggle(200)
            }
            $(function() {
                // 默认充值方式
                $('#info' + paytype).show();
                // 选择充值方式
                $('.selectlist li').click(function() {
                    openlist();
                    $('#select').text($(this).text())
                    paytype = $(this).attr('data');
                    $('.none').hide();
                    $('#info' + paytype).show();
                });
                // 上传图片
                $("#voucher").change(function() {
                    var file = $("#voucher").get(0).files[0];
                    // console.log(file);
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onloadend = function() {
                        pic = reader.result;
                        layer.msg('上传成功');
                        // $("#voucher_img").attr("src", reader.result);
                    }
                })
            })
            // 复制
            function docopy() {
                var clipboard = new Clipboard('.copy',{
                    text: function() {
                        return $('#xxoo' + paytype).val();
                    }
                });
                if (Clipboard.isSupported()) {
                    clipboard.on('success', function(e) {
                        layer.msg('复制成功');
                    });
                    clipboard.on('error', function(e) {
                        layer.msg('复制成功');
                        console.log(e);
                    });
                } else {
                    layer.msg('网络异常');
                }
            }
            // 提交
            function dopost() {
                var reason =  $('#xxoo' + paytype).val();
                var money = $('[name="money"]').val();
                if (isNaN(money) || money == "") {
                    layer.msg("请填写充值金额");
                    return false;
                }
                if (pic == '') {
                    layer.msg('上传凭证')
                    return false;
                }
                
                  if (paytype == '1') {
                   paytype ="BTC/USDT"
                }
                   if (paytype == '2') {
                   paytype ="ERC/USDT"
                }
                   if (paytype == '3') {
                   paytype ="TEC/USDT"
                }
                var url = "/index/user/dorecharge";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        money: money,
                        type: paytype,
                        pic: pic,
                        reason: reason
                    },
                    dataType: "json",
                    success: function(result) {
                        if (result.code == 1) {
                            layer.msg(result.info, {
                                time: 1000
                            }, function() {
                                window.location.href = "/index/user/recharge_record";
                            });
                        } else {
                            layer.msg(result.info);
                        }
                    }
                });
            }
            ;</script>
    </body>
</html>
