{include file="public/header" nav="充值记录"}
<link rel="stylesheet" type="text/css" href="__ROOT__/static/newstyle/css/rechargelog.css">

<div class="app">
  <!---->
       
                <div class="header">
                    <span><img src="__ROOT__/static/wap/images/goback.png" alt="" onClick="javascript:history.back()"></span> 
                    <span>充值记录</span>
                    <span></span>
                </div>
			
					{if count($recharge) > 0}
                    {volist name="recharge" id="r"}
                    	<div class="item">
                    <div>
                   
                                              
                        <div class="row">
                            <span>状态：</span>
                            <span>
							{if condition="$r['status'] eq 0"}
								<span style="color: orange;">审核中</span>
							{/if}
							{if condition="$r['status'] eq 1"}
								<span style="color: green;">充值成功</span>
							{/if}
							{if condition="$r['status'] eq 2"}
								<span style="color: red;">充值失败</span>
							{/if}
                            </span>
                        </div>
                             <div class="row">
                            <span>金额：</span>
                            <span>￥{$r.money}</span>
                        </div>
                        <div class="row">
                            <span>类型：</span>
                            <span>{$r.type}</span>
                        </div> 
                             <div class="row">
                            <span>时间：</span>
                            <span>{$r.time}</span>
                        </div>
						{if condition="$r['reaolae'] "}
						<div style="color:green">
                            <span>充值失败原因：</span>
                            <span>{$r.reaolae}</span>
                        </div>
                        
                        
                        
                        
						{/if}
                    </div>
                       </div>
                    {/volist}
                    {else/}
                    <div class="dataNo" style="color: #fff;
    text-align: center;">
                        <h3>没有更多数据了</h3>
                    </div>
                  
                    {/if}
		
	
        {include file="public/footer" menu='user'}
   
</div>
</body>
</html>



