{include file="public/header" nav="最新公告"}
<link rel="stylesheet" type="text/css" href="__ROOT__/static/newstyle/css/show.css">

    <body>
        <div class="app">
            <div class="header">
                <img onclick="javascript:history.back()" src="/static/newstyle/img/back.png" alt="">
                <span>最新公告</span>
                <span></span>
            </div>
        </div>
        <div class="titlebox">
            <div class="title">{$article.title}</div>
            <div class="time">{$article.time}</div>
        </div>
        <div class="content">
            <h3>{:htmlspecialchars_decode($article['content'])}</h3>
        </div>
    </body>
</html>