body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding:0;
    font-family: PingFangSC-Light;
    background-color: #21252F;
    background-size: cover;
}
.app{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
    padding-bottom: 0;
    box-sizing: border-box;
}
.banner{
    margin-top: 1rem;
    border-radius: 16px;
}
.banner img{width: 100%;}
.topbox{
    width: 100%;
    height: 5.1875rem;
    margin: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.topbox .item{
    width: 30%;
    text-align: center;
    background:#2C303B;
    border-radius: 16px;
    padding-top: .625rem;
    box-sizing: border-box;
    height: 5.375rem;
    float: left;
}
.topbox .item:last-child{margin-right: 0;}
.topbox .item p{padding: 0; margin: 0; line-height: 1.375rem;}
.title{
    font-size: 1rem;color: #fff;
    display: flex; 
    justify-content:center;
    align-items: center;
}
.title img{
    width: 18px;
    height: 18px;
}
.title span{
    font-family: Gilroy;
    margin-left: 5px;
    font-size: .875rem;
}
.bili{
    font-family: GilroySC;
    font-size: .875rem;
    color:#04BB55;
}
.price{
    font-family: GilroySC;
    font-size: 1rem; 
    color: #fff;
    letter-spacing: 1px;
}

.ad{
    width:100%;
    margin: 2rem 0 1rem 0;
    height:  5.9375rem;
    overflow: hidden;
}
.rechargebox{
    border-radius: 12px;
    width:65%;
    background: linear-gradient(136deg, #1B232A -53%, #5ED5A8 379%);
    margin-right: 5%;
    height:  5.9375rem;
    float: left;
    text-align: center;
    overflow: hidden;
}
.rechargebox img{
    width: 14rem;
}
.kfbox{
    border-radius: 12px;
    background: linear-gradient(136deg, #1B232A -53%, #5ED5A8 379%);
    height:  5.9375rem;
    width:30%;
    float:right;
    text-align: center;
    overflow: hidden;
}
.kfbox img{width: 6.5625rem;}

/* 产品价格 */
.title_box{
    height:3rem;
    border-top:1px solid #2C303A;
    border-bottom:1px solid #2C303A;
    line-height: 3rem;
    width: 100%;
}
.title_box span{
    display: inline-block;
    width: 24.5%;
    text-align: center;
    font-size: .8125rem;
    color:#7D8491;
    float: left;
}
.product{
    width: 100%;
    margin-bottom:4.75rem;
    box-sizing: border-box;
    overflow: hidden;
}
.product .pitem{
    display: block;
    height: 1.625rem;
    line-height: 1.625rem;
    margin: 1.2rem 0;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
}
.product .pitem .w24{
    width: 24.5%;
    float: left;
    text-align: center;
    color:#fff;
    font-size: .875rem
}
.product .pitem .p1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 1rem;
    overflow: hidden;
    padding-left: 0.5rem;
    box-sizing: border-box;
}
.product .pitem .p1 img{width: 24px; height: 24px; margin-right: 5px;}
.product .pitem .p1 span{
    height: 26px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    
}